# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.pyc

# IDE
.idea/
.vscode/

# secret
setting.json

# output
build/
vendor/
node_modules/
out/
__pycache__/
.cache/

# log
yarn-error.log
