name: default

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  integration:
    runs-on: ubuntu-latest

    container: "node:13"

    steps:
      - uses: actions/checkout@v2

      - name: Audit
        run: cd price-server; npm audit

  delivery:
    runs-on: ubuntu-latest
    needs: integration

    if: github.ref == 'refs/heads/master' && github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-northeast-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push docker image to AWS ECR
        uses: docker/build-push-action@v2
        with:
          context: ./price-server
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/oracle-price-server:${{ github.sha }}
            ${{ steps.login-ecr.outputs.registry }}/oracle-price-server:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
